<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      
    <title>index.html</title>
<style>

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}



body{
  background:lightgreen;
  box-sizing: border-box;
  margin:0;
}
  .card{ 
margin:20px;
 background:url("images/index.jpeg");
 background-position: center;
 background-size:cover;

  }

  
  #mydiv{
 position:absolute;
 z-index: -1;
background :url("images/images (44).jpeg");
opacity:0.5;
 height:100%;
 width:100%;
   background-position: center;
   background-size: cover;
   
    }
    #bodydiv{
      /*
      display:flex;
      text-align: center;
      flex-direction: column;
      width:100%;
      height:100%;
      justify-content: center;
      align-items: center;
      */
      display:flex;
border: 1px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:30px;
    flex-wrap: wrap;  
  height:100vh;
  
 
      
    }
 .carddiv{
  justify-content: center;
   padding:20px;
 }
 #top{
   display:flex;
   flex-direction: column;
   justify-content: center;
   
 }
 </style>
 
  </head>
  <body>
  <div id="mydiv">
  </div>

   
   <div id="bodydiv">
     
  <div id="top">
     <h1>BUGA TECH SERVICE CENTER</h1>
     
     <h3>Choose your fate</h3>
     </div>
  
<div class="carddiv">
  
  
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">ADMIN PANEL</h5>
    <p class="card-text">This section is only restricted for Admins</p>
    <a href="adminlogin" class="btn btn-primary">ADMIN</a>
  </div>
</div>

<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">TECHNICIAN PANEL</h5>
    <p class="card-text">This section is only restricted for technicians</p>
    <a href="technicianlogin" class="btn btn-primary">TECHNICIAN</a>
  </div>
</div>

<div class="card text-end" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">SUPERVISOR PANEL</h5>
    <p class="card-text">This section is only restricted for supervisors</p>
    <a href="supervisorlogin" class="btn btn-primary">SUPERVISOR</a>
  </div>
  </div>
  </div>
</div>
  </body>
  
</html>