<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <div class="container">
<h1>hello your welcome</h1>
    <h3>login</h3>
    <br>
        <br>
    <div class="alert alert-primary" role="alert">
  <p> <%= locals.message ? message : 'welcome'%></p>
</div>
<br>
<form method="post" action="supervisor">
  <div class="form-group">
    <label for="exampleInputEmail1">Supervisor Username</label>
    <input name="username" type="text" class="form-control"  placeholder="enter your username">
  </div>
 <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" type="password" class="form-control" placeholder="Enter Password">
  </div>
  
  <button type="submit" class="btn btn-primary">LOGIN</button>
</form>
       
    
    
       <p>note the link below isnt supposed to be there but just for testing</p>
        <a href="supervisor">supervisor dashboard</a>
         </div>
         </div>
  </body>
</html>