<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>technician login</title>
    
  <style>
    
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
  font-family: sans-serif;
  background: #34495e;
font-family: "Poppins", sans-serif;
}
.box{
  width: 75%;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 60%;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 80%;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}

    
  </style>
    
  </head>
  <body>
    
    <form class="box" method="post" action="technicianlogin">
  
<h1>TECHNICIAN`S LOGIN</h1>
    <br>
  <p style="color:orange;"> <%= locals.message ? message : 'welcome'%></p>
 <br>
    <input name="username" type="text" class="form-control"  placeholder="Enter username">
    
  
 
    <input name="password" type="password" class="form-control"  placeholder="enter Password">
  
  
  <button type="submit" class="btn btn-primary">LOGIN</button>
  <br>
  <br>
 <a href="techniciancreateacc">CREATE ACCOUNT</a>
 
 <br>
 <br>
<a href="/"class="btn btn">BACK</a>
 
 
</form>
    
</body>
  
</html>