<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <div class="container">
<h1>hello your welcome</h1>
    <h3>login</h3>
    <br>
     <div class="alert alert-primary" role="alert">
  <p> <%= locals.message ? message : 'welcome'%></p>
</div>
<br>
    <div>
    <form method="post" action="technicianlogin">
  <div class="form-group">
    <label for="USERNAME">Please enter username</label>
    <input name="username" type="text" class="form-control"  placeholder="Enter username">
    <small  class="form-text text-muted">We'll never share your username with anyone else.</small>
  </div>
 <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" type="password" class="form-control"  placeholder="enter Password">
  </div>
  
  <button type="submit" class="btn btn-primary">LOGIN</button>
</form>
      <br> 
 <div>
   <a href="techniciancreateacc" class="btn btn-primary">CREATE ACCOUNT</a>
    </div>
      </div>
      <br>
    
  <div>
   <a href="/" class="btn btn-primary">Back</a>
         </div>
    </div>
  </body>
  
</html>