<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
<h1>hello your welcome</h1>
<h2>this is the land where technicians create there accounts from</h2>
    <h3>CREATE ACCOUNT</h3>
    <br>
 <div>
 <form method="post" action="admintcacc">
<div class="form-group">
    <label for="username1">enter email or a technician first name</label>
    <input name="firstname" type="text" class="form-control" placeholder="enter technician firstname">
  </div>
  <div class="form-group">
    <label for="username1">enter technician second name</label>
    <input name="secondname" type="text" class="form-control" placeholder="enter technician second name">
  </div>
  <div class="form-group">
    <label for="username1">enter technician email</label>
    <input name="email" type="text" class="form-control" placeholder="enter technician email">
  </div>
  <div class="form-group">
    <label for="username1">enter technician phone number</label>
    <input name="phonenumber" type="text" class="form-control" placeholder="enter technician phone number">
  </div>
  <div class="form-group">
    <label for="username1">enter technician username</label>
    <input name="username" type="text" class="form-control" placeholder="enter a techhnician username">
  </div>
  
   <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">Repeat Password</label>
    <input name="cpassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="repeat Password">
  </div>
  <button type="submit" class="btn btn-primary">Create Technician</button>
</form>
       <br><br>
      
     <div>
        <a href="adminpagestechnicians"> LOGIN</a>
        </div>
    
      </div>
    
    </div>
  </body>
  
</html>