<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>technician create account</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
 <style>
    
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
  font-family: sans-serif;
  background: #34495e;
font-family: "Poppins", sans-serif;
}
.box{

  width: 90%;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "email"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 60%;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "email"]:focus,.box input[type = "password"]:focus{
  width: 80%;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}

@media screen and (max-width: 600px) {
  .box{
    width: 300px;
  }
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  
  width:220px;
  
}

.box input[type = "text"],.box input[type = "password"]{
  width:210px;
}
  
.box h1{ 
  font-weight: 100;
}
  
}


    
  </style>
  
  
  </head>
  <body>



 <form method="post" action="tcacc" class="box">
 <h1>CREATE ACCOUNT</h1>
 <br>
 <p style="color:orange;"> <%= locals.message ? message : 'welcome'%></p>
 
    
    <input name="token" type="text" class="form-control" placeholder="token">
  
  
  
  <label style="color:white;">Select your branch</label><br>
 <select style="border-radius:10px; background:yellow; border:none;"  id="selectlevel" name="branchid" class="form-select" >
  <option value="8e700223-60c7-423d-9032-fc02bd38082d">mtn shoprite clock tower</option>
  <option value="af53ff22-45ec-4c45-82a6-7a8dd2f3b479">mtn kampala road</option>
  <option value="02778e1c-bdc4-4e95-a884-a66438931c95">mtn crested tower</option>
    <option value="16c770c8-3953-49d7-820f-16b9ccc05a5f">mtn village mall</option>
      <option value="a6da75f6-41bc-4190-aa8b-d9960246328b">mtn victoria mall entebbe</option>
        <option value="f7ccd3a4-b8bf-46f9-8366-bed2a99e6bc0">mtn mbale</option>
          <option value="19c23521-feb3-4c8c-b87e-66daa787f798">mtn moroto</option>
            <option value="2a7bdf58-b33e-4644-bc3f-a30328d23822">mtn mbarara</option>
              <option value="1fba1fb5-69a2-4188-8034-9440f88b1013">mtn fortportal</option>
                <option value="5fda81a0-a87c-4eb5-89fa-d862fe5a5079">mtn masaka</option>
</select>
 
  
  
    <input name="firstname" type="text" class="form-control" placeholder="firstname">
  
    <input name="secondname" type="text" class="form-control" placeholder=" second name">
  

    <input name="email" type="email" class="form-control" placeholder="email">
  
  
    <input name="phonenumber" type="text" class="form-control" placeholder="phone number">
  
  
    <input name="username" type="text" class="form-control" placeholder=" username">
  
  <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  
   
    <input name="cpassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="repeat Password">
  
  <button type="submit" class="btn btn-primary">Create Technician</button>
  <br><br>
<a href="technicianlogin" class="btn btn-primary">BACK 2 LOGIN</a>
</form>

  </body>
  
</html>