<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
<h1>hello your welcome</h1>
<h2>this is the land where technicians create there accounts from</h2>
    <h3>CREATE ACCOUNT</h3>
    <br>
    <div class="alert alert-primary" role="alert">
  <p> <%= locals.message ? message : 'welcome'%></p>
</div>
<br>
 <div>
 <form method="post" action="tcacc">
 <div class="form-group">
    <label for="username1">Enter TOKEN</label>
    <input name="token" type="text" class="form-control" placeholder="enter create account token">
  </div>
  
  <div class="form-group">
  <label>Select your branch</label>
 <select id="selectlevel" name="branchid" class="form-select" >
  <option value="8e700223-60c7-423d-9032-fc02bd38082d">mtn shoprite clock tower</option>
  <option value="af53ff22-45ec-4c45-82a6-7a8dd2f3b479">mtn kampala road</option>
  <option value="02778e1c-bdc4-4e95-a884-a66438931c95">mtn crested tower</option>
    <option value="16c770c8-3953-49d7-820f-16b9ccc05a5f">mtn village mall</option>
      <option value="a6da75f6-41bc-4190-aa8b-d9960246328b">mtn victoria mall entebbe</option>
        <option value="f7ccd3a4-b8bf-46f9-8366-bed2a99e6bc0">mtn mbale</option>
          <option value="19c23521-feb3-4c8c-b87e-66daa787f798">mtn moroto</option>
            <option value="2a7bdf58-b33e-4644-bc3f-a30328d23822">mtn mbarara</option>
              <option value="1fba1fb5-69a2-4188-8034-9440f88b1013">mtn fortportal</option>
                <option value="5fda81a0-a87c-4eb5-89fa-d862fe5a5079">mtn masaka</option>
</select><br>
 </div>
  
  
<div class="form-group">
    <label for="username1">enter email or a technician first name</label>
    <input name="firstname" type="text" class="form-control" placeholder="enter technician firstname">
  </div>
  <div class="form-group">
    <label for="username1">enter technician second name</label>
    <input name="secondname" type="text" class="form-control" placeholder="enter technician second name">
  </div>
  <div class="form-group">
    <label for="username1">enter technician email</label>
    <input name="email" type="text" class="form-control" placeholder="enter technician email">
  </div>
  <div class="form-group">
    <label for="username1">enter technician phone number</label>
    <input name="phonenumber" type="text" class="form-control" placeholder="enter technician phone number">
  </div>
  <div class="form-group">
    <label for="username1">enter technician username</label>
    <input name="username" type="text" class="form-control" placeholder="enter a techhnician username">
  </div>
  
   <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">Repeat Password</label>
    <input name="cpassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="repeat Password">
  </div>
  <button type="submit" class="btn btn-primary">Create Technician</button>
</form>
       <br><br>
      
     <div>
        <a href="technicianlogin"> LOGIN</a>
        </div>
    
      </div>
    
    </div>
  </body>
  
</html>