<!Doctype HTML>
<html>
<head>
	<title>technician spares</title>
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	
	
	<link rel="stylesheet" href="css/style.css" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	
	</head>


<body>
	
	<div id="mySidenav" class="sidenav">
	<p class="logo"><span>B</span>UGA-TECH</p>
 
  <a href="supervisorhome"class="icon-a"><i class="fa fa-users icons"></i> &nbsp;&nbsp;Devices</a>
  
  <a style="color:white;" href="supervisorspares"class="icon-a"><i class="fa fa-list icons"></i> &nbsp;&nbsp;Spares</a>
  
 <a href="ranktechnician"class="icon-a"><i class="fa fa-tasks icons"></i> &nbsp;&nbsp;Rank</a>
  
  
  <!--
  <a href="#"class="icon-a"><i class="fa fa-shopping-bag icons"></i> &nbsp;&nbsp;Analytics</a>
  
  <a href="tfailed"class="icon-a"><i class="fa fa-tasks icons"></i> &nbsp;&nbsp;Failed Devices</a>
  <a href="technicianbranchscope"class="icon-a"><i class="fa fa-user icons"></i> &nbsp;&nbsp;Branch Scope</a>
  <a href="customercreateacc"class="icon-a"><i class="fa fa-list-alt icons"></i> &nbsp;&nbsp; Customer Record</a>
  -->

</div>
<div id="main">

	<div class="head">
		<div class="col-div-6">
<span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >&#9776; Dashboard</span>
<span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >&#9776; Dashboard</span>
</div>
	
	<div class="col-div-6">
<!--	<div class="profile">

		<img src="images/user.png" class="pro-img" />
		<p>Manoj Adhikari <span>UI / UX DESIGNER</span></p>
	</div> -->
	<div class="profile">

		<a class="btn btn-outline-success" href="supervisorlogout" style="color:white;">logout</a>
	</div> 
	
</div>
	<div class="clearfix"></div>
</div>


	
	
	<!-- table div -->
	
	<div class="col-div-12">
		<div class="box-12">
  <h1>most used spares</h1> <br>

		  
		  
		<div class="content-box">
<div class="alert alert-primary" role="alert">
  <p> <%= locals.message ? message : 'welcome'%></p>
</div>
			<br/>

<div>
  <div style="color:white; display:flex;  justify-content:center; flex-direction:column;"><p>DOUGHNUT CHART  SHOWING TOP 10 MOST REPRODUCTIVE TECHNICIANS</p>
  </div>
  <canvas id="myChart" height="500px" width="500px"></canvas>
</div>
<br><br>




		</div>
	</div>
	</div>


		
	<div class="clearfix"></div>
</div>



<script>
  let technician = new Array()
technician = <%- technician %>

let sales = <%- sales %>

  
  
const data = {
  labels: technician,
  datasets: [{
    label: 'DOUGHNUT CHART',
    data: sales,
    backgroundColor: [
  '#e6194b', '#3cb44b', '#ffe119', '#4363d8', '#f58231', '#911eb4', '#46f0f0', '#f032e6', '#bcf60c', '#fabebe'
    ],
    hoverOffset: 4
  }]
};



const config = {
  type: 'doughnut',
  data: data,
};
  
  
var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
  
</script>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  $(".nav").click(function(){
    $("#mySidenav").css('width','70px');
    $("#main").css('margin-left','70px');
    $(".logo").css('visibility', 'hidden');
    $(".logo span").css('visibility', 'visible');
     $(".logo span").css('margin-left', '-10px');
     $(".icon-a").css('visibility', 'hidden');
     $(".icons").css('visibility', 'visible');
     $(".icons").css('margin-left', '-8px');
      $(".nav").css('display','none');
      $(".nav2").css('display','block');
  });

$(".nav2").click(function(){
    $("#mySidenav").css('width','300px');
    $("#main").css('margin-left','300px');
    $(".logo").css('visibility', 'visible');
     $(".icon-a").css('visibility', 'visible');
     $(".icons").css('visibility', 'visible');
     $(".nav").css('display','block');
      $(".nav2").css('display','none');
 });

</script>

</body>


</html>
